ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  align-items: baseline;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: rgb(40, 40, 40);
  /* box-shadow: 4px 2px 5px rgb(25, 25, 25); */
  color: #ebeef0;
  padding: 1.5rem 2rem;
  position: sticky;
  top: 0;
  z-index: 50;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  padding: 0.4rem 0.5rem;
  font-family: 'Montserrat';
}

.navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 1.25rem;
  margin-right: 1em;
}
