.cert-grade {
    outline: solid;
    width: fit-content;
    padding-left: 8px;
    padding-right: 10px;
    border-radius: 2px;
    color: darkgray;
    margin-right: 15px;
    font-size: medium;
}

.release-year {
    color: darkgray;
    font-size: large;
    font-weight: 100;
}

.us-tag {
    color: darkgray;
    font-size: large;
    font-weight:100;
    margin-right: 10px;
}

.cert-date-flex {
    display: flex;
}

.details-flex {
    display: flex;
}

.cast-profile {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: top;
    border-radius: 3px;
}

.cast-container {
    height: 500px;
    width: 200px;
    overflow-y: scroll;
    -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(234, 234, 234);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: none;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: lightgray;
}
