.poster-image {
    margin-right: 30px;
}

.rating-bar {
    margin-top: 20px;
    margin-bottom: 25px;
}

.movie-headline {
    padding-right: 65px;
}

.movie-poster-and-details {
    display: flex;
    margin-bottom: 30px;
    flex-wrap: nowrap;
    flex-direction: row;
}

.movie-card {
    display: flex;
    flex-direction: column;
    width: 1080px;
    padding: 35px;
    border-radius: 30px;
    margin-bottom: 30px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}


.cert-grade {
    outline: solid;
    width: fit-content;
    padding-left: 8px;
    padding-right: 10px;
    border-radius: 2px;
    color: darkgray;
    margin-right: 15px;
    font-size: medium;
}

.release-year {
    color: darkgray;
    font-size: large;
    font-weight: 100;
}

.us-tag {
    color: darkgray;
    font-size: large;
    font-weight:100;
    margin-right: 10px;
}

.cert-date-flex {
    display: flex;
}

.details-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cert-and-info {
    display: flex;
    margin-bottom: 10px;
    align-items: baseline;
    margin-top: 15px;
}

.director-field {
    margin-top: 30px;
    margin-bottom: 20px;
}

.movie-tagline {
    margin-top: 20px;
    margin-bottom: 30px;
    font-style: oblique;
    font-weight: 200;
    font-size: 22px;
}

.overview-tag {
    margin-top: 15px;
    margin-bottom: 10px;
}

.overview-body {
    text-align: justify;
}

.cast-headline {
    margin-bottom: 15px;
}

.cast-profile {
    width: 200px;
    height: 250px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    margin-bottom: 10px;
}

.cast-card {
    margin-right: 15px;
    height: 350px;
}

.cast-name {
    padding: 0 12px;
}

.cast-container {
    display: flex;
    height: 375px;
    width: 100%;
    overflow-x: auto;
}

.full-cast-button {
    padding: 20px;
    height: 350px;
    width: 185px;
    font-family: inherit;
    font-weight: 800;
    font-size: larger;
    border: none;
    border-radius: 10px;
    background-color: none;
}

.full-cast-button:hover {
    background-color: gray;
}

.user-add-buttons {
    display: flex;
    justify-content: space-between;
}

.movie-add-buttons {
    width: 230px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 30px;
    padding: 20px 30px;
}

.movie-add-buttons:hover {
    background-color:darkseagreen
}

.add-button-effect:hover {
    opacity: 0.65;
}

.button-text {
    margin-left: 32px;
    font-family: 'Montserrat';
    font-weight: 600;
    text-transform: uppercase;
    font-size: large;
}

.not-in-prod {
    padding: 15px;
    font-size: x-small;
    background-color: gray;
    color: white;
    margin-top: 15px;
    width: 185px;
    border-radius: 30px;
    text-transform: uppercase;
}

.is-in-prod {
    padding: 15px;
    font-size: x-small;
    background-color: green;
    color: white;
    margin-top: 15px;
    width: 185px;
    border-radius: 30px;
    text-transform: uppercase;
}