.cast-id {
    margin-bottom: 10px;
}

.logo-header {
    width: 500px;
}

.cast-header-container {
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: inline-grid;
    justify-items: center;
    align-items: center;
}