footer {
  margin-top: 50px;
  bottom: 0;
  font-size: 1.2rem;
  left: 0;
  padding: 1rem;
  text-align: center;
  width: 100%;
  background: steelblue;
  box-shadow: 4px 2px 5px gray;
}

.tmdb-logo {
  width: 300px;
}

.tmdb-attr {
  font-size:smaller;
  /* color: #0d253f; */
  /* color: #01b4e4; */
  color: #90cea1;
}