footer {
  margin-top: 200px;
  bottom: 0;
  font-size: 1.2rem;
  left: 0;
  padding: 2rem;
  text-align: center;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: steelblue;
  color: #90cea1;
  box-shadow: 4px 2px 5px gray;
}

.tmdb-logo {
  width: 300px;
}

.tmdb-attr {
  font-size:smaller;
  /* color: #0d253f; */
  /* color: #01b4e4; */
  color: #90cea1;
}