@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: rgb(25, 25, 25);
}

h2 {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: left;
}

h3 {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 25px;
}

p {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

/* button {
  background-color: transparent;
  border: 2px solid steelblue;
  color: steelblue;
  font-size: 1rem;
  font-family: inherit;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
} */

.click-tab {
  padding: 1em;
  font-family: inherit;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 10px;
  width: 195px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.click-tab:hover {
  background-color: rgb(146, 146, 146);
}

.tab-container {
  display: flex;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  overflow: auto;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.movie-list-viewport {
  display: flex;
  overflow-x: auto;
  margin-top: 30px;
}

.movie-list-icon {
  margin-right: 15px;
  margin-bottom: 20px;
}

.movie-list-icon:hover {
  opacity: 0.65;
}

.home-header-container {
  width: 100%;
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: inline-grid;
  justify-items: center;
  justify-content: center;
  align-content: center;
  margin-bottom: 30px;
}

.home-header-logo {
  width: 300px;
  padding: 30px;
  border: 2px solid white;
  transform: translateY(-20px);
}

.movies-found-viewport {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
}

.movies-found-icon {
  margin-bottom: 35px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  width: 310px;
}

.poster-fit {
  width: 310px;
  height: 465px;
  object-fit: cover;
  margin-bottom: 5px;
}

.viewport-container {
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 35px;
  background-color: white;
  border-radius: 8px;
}

.search-container {
  transform: translateY(60px);
}


::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: none;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(150, 150, 150);
}
