.remove-button {
    border: none;
    background-color: transparent;
    display: flex;
    transform: translateY(12px);
}

.fa-circle-minus {
    color: gray !important;
}

.fa-circle-minus:hover {
    color: red !important;
}

.remove-container {
    width: 154px;
    display: grid;
    justify-items: center;
}

.user-list-container {
    display: grid;
    align-content: space-between;
    justify-items: start;
}

.user-list-viewport {
    display: flex;
    overflow-x: auto;
    margin-top: 15px;
    align-items: flex-start;
}

.user-logout-container {
    display: grid;
    justify-items: center;
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.user-logout-button {
    padding: 20px;
    width: 200px;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: larger;
    font-weight: 800;
    margin-top: 30px;
    background-color: white;
    transform: translateY(50px);
}

.user-logout-button:hover {
    background-color: darkgray;
}

.user-profile-headline {
    margin-top: 50px;
    color: white;
}

.user-headline {
    font-weight: 800;
    padding: 20px;
}