.bg-style-new {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 600px;
    width: 100%;
    object-fit: cover;;
}

.fade-container {
    width: 100%;
    height: 600px;
    margin-bottom: 40px;
}