.bottom-content {
    width: 1080px;
    padding: 35px;
    background-color: white;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}

.provider-headline {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.media {
    margin-right: 15px;
}
